Android Mobile app/*.iml
Android Mobile app/.gradle
Android Mobile app/local.properties
Android Mobile app/.idea/workspace.xml
Android Mobile app/.idea/libraries
Android Mobile app/DS_Store
Android Mobile app/build
Android Mobile app/captures
Android Mobile app/externalNativeBuild
OpenCV camera detection/Debug
OpenCV camera detection/doc
OpenCV camera detection/Release
